/* Work sans google font */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');

  *{
    font-family: 'Work Sans', sans-serif;
  }

  *{
    padding: 0px;
    margin: 0px;
  }

  /* header style */
  header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 40px 240px;
  }
  .nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-heading{
    display: flex;
    align-items: center;
    margin-left: 620px;
  }
  .icon-heading{
    display: flex;
    align-items: center;
    gap:20px;
  }
  .heading-two-icon{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px 24px;
    gap: 24px;
  }
  .heading-two-icon a{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  }
  .heading-two-icon li{
    list-style: none;
  }
  
  .heading-two-icon img{
    width: 33px;
    height:24PX;
  }
  .icon-heading img{
    width: 85px;
    height: 40px;
  }
  .span{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #F948B2;
  }
  .icon-heading h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
  }
  .nav-heading li{
    list-style: none;
  }
  .nav-heading a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    margin-right: 32px;
  }

  /* banner style */
  .banner{
    width: 901px;
    height: 700px;
    background-image: url(images/Group\ 14.png);
    display: flex;
    padding: 20px 240px;
    justify-content: space-between;
    gap: 400px;
  }
  .icon{
    margin-bottom: 15px;
  }
  .icon img{
    width: 24px;
    height: 24px;
  }
  .icon-paragraph{
    display: flex;
    gap:20px;
  }
  .button-container{
    display: flex;
    gap: 24px;
    margin-top: -35px;
  }
  .banner-play{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 150px;
  }
  .goat{
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
    
  }
  .icon-paragraph p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
  }
  .button-1{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 40px;
    background-color:#F948B2 ;
    border-radius: 48px;
    border: none;
    margin-top: 62px;
  }
  .button-2{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 40px;
    background-color:#4EC5F7 ;
    border-radius: 48px;
    border: none;
    margin-top: 62px;
  }

  /* We are gamer section */

  .primary-title{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .primary-des{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 520px; 
    margin-top:20px;
  }
  .gamer-p{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    width: 524px;
    text-align: right;
    margin-top: 20px;
  }
  .small{
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
  }
  .gamer-img img{
    background: url(<path-to-image>);
    width: 868px;
    height: 489px;
    flex-shrink: 0;
  }

  .we-are-gamer{
    display: flex;
    padding: 90px 240px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    gap: 50px;
    align-items: center;
  }
  .gamer-content button{
    margin-left:320px;
    margin-top: 30px;
  }

  /* online games section */

  .title-h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
 }
 .online-des{
  color: #534C64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top:20px;
 }
 .card-container img{
  width: 342px;
  height: 400px;
 }
 .online-card{
  width: 342px;
  height: 400px;
 }
 .card-container{
  display: flex;
  margin: 60px 240px;
  gap: 25px;
 }

 .card-container p{
  color: #534C64;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px; 
 }
 .online-card:hover {
  transform: scale(.1.1); 
  filter: brightness(50%);
  border-radius: 20px;
 }
 .online-card img{
  transition: transform 0.1s, filter 0.1s;
 }
#apple{
  width: 48px;
  height: 48px;
  position:absolute;
  bottom: 42%;
  left:42%;
}
#one{
  width: 48px;
  height: 48px;
  position:absolute;
  bottom: 42%;
  left:42%;
}
#two{
  width: 48px;
  height: 48px;
  position:absolute;
  bottom: 42%;
  left:42%;
}
#three{
  width: 48px;
  height: 48px;
  position:absolute;
  bottom: 42%;
  left:42%;
}

.container{
  display: flex;
  margin: 0px 240px;
  gap: 260px;
  margin-top: 220px;
}

.container .primary-des{
  width: 353px;
  margin-left: 200px;
}
.container .title-h2{
  width: 353px;
  text-align: right;
  margin-left: 200px;
  margin-top: 200px;
}
#over{
  width: 318.5px;
  height: 365.083px;
  border-radius: 8px;
  border: 10px solid #FFF;
  background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
  position: relative;
  bottom: 300px;
  right: 180px;
}
#done{
  width: 634.833px;
  height: 650px;
}

.container-2{
  display: flex;
  margin: 0px 240px;
  gap:200px;
  align-items:normal;
  margin-top: -100px;
}
.container-2 h2{
  text-align: left;
  width: 410px;
  margin-top: 200px;
}
.container-2 p{
  text-align: left;
}
.play-img{
  width: 318px;
  height: 365px;
  border-radius: 8px;
  border: 10px solid #FFF;
  background: url(<path-to-image>), lightgray -7.209px 0px / 114.78% 100% no-repeat;
  position: relative;
  left: 500px;
  bottom: 250px;
}
/* careers section style */
.careers-all{
  display: flex;
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  padding-left: 240px;
  margin-top: -90px;align-items: center;
}
.careers-container{
  padding: 120px 0px 120px;
}
.careers-title{
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px; 
}
.careers-des{
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 680px;
  margin-top: 10px;
}
.para-container{
  display: flex;
  gap:100px;
  margin-top: 20px;
}
.para-1{
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px; 
}
.para-2{
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px; 
  text-align: right;
}
.careers-container button{
  background-color: white;
  color:#F948B2;
}
i.img-careers-container{
  width: 1013px;
  height: 821px;
}

/* button container section style */














.button-container img{
  width: 60px;
  height: 60px;

}
.careers-container button{
  background-color: white;
  color:#F948B2;
}
.img-careers-container{
  width: 1013px;
  height: 821px;
}









.careers-container button{
  background-color: white;
  color:#F948B2;
}
i.img-careers-container{
  width: 1013px;
  height: 821px;
}


/* button container section style */
.button-container-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 240px;
}
.button-para{
  color: #0B0223;
  font-size: 20px;
  font-weight: 600;

}
.button-container-2 img{
  width: 60px;
  height: 60px;

}
.button-container-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px 240px;
}
.button-para{
  color: #0B0223;
  font-size: 20px;
  font-weight: 600;

}

.button-container-2 button{
  display: flex;
  align-items: center;
  gap:10px;
  border: none;
  background-color: white;
  width: 248px;
  height: 80px;

}
.button-container-2 button:hover{
  border: 2px solid orangered;
  border-radius: 50px;
  padding: 20px 5px;
  font-size: 17px;
  font-weight: 600;
 
}
.button-para{
  font-size: 17px;
}
.button-para:hover{
  color: orangered;
}




  
 









